## Lab 3(from Elsa Session)

In [105]:
import pandas as pd
import numpy as np

from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder

In [33]:
clean_dataset = pd.read_csv("Missing_Data.csv", sep=",")
clean_dataset.head(10)

               State   Age  Height  Weight   Salary Purchaged
0     Andhra Pradesh  44.0   160.0    65.0  72000.0        No
1  Arunachal Pradesh  27.0   165.0    70.0  48000.0       Yes
2              Assam  30.0   167.0    90.0  54000.0        No
3              Bihar  38.0   180.0    74.0  61000.0        No
4       Chhattisgarh  40.0   168.0    75.0      NaN       Yes
5                Goa  35.0   169.0    87.0  58000.0       Yes
6            Gujarat   NaN   161.0    89.0  52000.0        No
7            Haryana  48.0   167.0    88.0  79000.0       Yes
8   Himachal Pradesh  50.0   155.0    94.0  83000.0        No
9          Jharkhand  37.0   159.0    80.0  67000.0       Yes

In [37]:
print(np.NaN==False)
print(np.NaN==' ')
clean_dataset.shape

False
False

(112, 6)

In [39]:
#Return an int representing the number of elements in this object.
print(112*6)
clean_dataset.size

672

672

In [41]:
clean_dataset.isnull().head()

   State    Age  Height  Weight  Salary  Purchaged
0  False  False   False   False   False      False
1  False  False   False   False   False      False
2  False  False   False   False   False      False
3  False  False   False   False   False      False
4  False  False   False   False    True      False

In [42]:
clean_dataset.isna().any()

State        False
Age           True
Height        True
Weight        True
Salary        True
Purchaged    False
dtype: bool

In [43]:
# Total number of Nan values
clean_dataset.isna().sum()

State         0
Age           8
Height        9
Weight        4
Salary       11
Purchaged     0
dtype: int64

In [44]:
clean_dataset.count()

State        112
Age          104
Height       103
Weight       108
Salary       101
Purchaged    112
dtype: int64

In [45]:
## Handling Missing Value

In [54]:
d1 = clean_dataset.copy()
d1.head()

               State   Age  Height  Weight   Salary Purchaged
0     Andhra Pradesh  44.0   160.0    65.0  72000.0        No
1  Arunachal Pradesh  27.0   165.0    70.0  48000.0       Yes
2              Assam  30.0   167.0    90.0  54000.0        No
3              Bihar  38.0   180.0    74.0  61000.0        No
4       Chhattisgarh  40.0   168.0    75.0      NaN       Yes

In [55]:
d1.dropna(axis=0, inplace=True)
d1.head()
d1.shape

(84, 6)

In [49]:
clean_dataset.shape

(112, 6)

In [57]:
fill_data = clean_dataset.copy()
fill_data.fillna(axis=0, method='ffill', inplace=True)
fill_data.head(10)

               State   Age  Height  Weight   Salary Purchaged
0     Andhra Pradesh  44.0   160.0    65.0  72000.0        No
1  Arunachal Pradesh  27.0   165.0    70.0  48000.0       Yes
2              Assam  30.0   167.0    90.0  54000.0        No
3              Bihar  38.0   180.0    74.0  61000.0        No
4       Chhattisgarh  40.0   168.0    75.0  61000.0       Yes
5                Goa  35.0   169.0    87.0  58000.0       Yes
6            Gujarat  35.0   161.0    89.0  52000.0        No
7            Haryana  48.0   167.0    88.0  79000.0       Yes
8   Himachal Pradesh  50.0   155.0    94.0  83000.0        No
9          Jharkhand  37.0   159.0    80.0  67000.0       Yes

In [58]:
bill_data = clean_dataset.copy()
bill_data.fillna(axis=0, method='bfill', inplace=True)
bill_data.head(10)

               State   Age  Height  Weight   Salary Purchaged
0     Andhra Pradesh  44.0   160.0    65.0  72000.0        No
1  Arunachal Pradesh  27.0   165.0    70.0  48000.0       Yes
2              Assam  30.0   167.0    90.0  54000.0        No
3              Bihar  38.0   180.0    74.0  61000.0        No
4       Chhattisgarh  40.0   168.0    75.0  58000.0       Yes
5                Goa  35.0   169.0    87.0  58000.0       Yes
6            Gujarat  48.0   161.0    89.0  52000.0        No
7            Haryana  48.0   167.0    88.0  79000.0       Yes
8   Himachal Pradesh  50.0   155.0    94.0  83000.0        No
9          Jharkhand  37.0   159.0    80.0  67000.0       Yes

In [61]:
replace_mean = clean_dataset.copy()
x = replace_mean["Salary"].median()
x

61000.0

In [63]:
replace_mean["Salary"].fillna(x,inplace = True)
print(replace_mean.to_string())

                 State   Age  Height  Weight   Salary Purchaged
0       Andhra Pradesh  44.0   160.0    65.0  72000.0        No
1    Arunachal Pradesh  27.0   165.0    70.0  48000.0       Yes
2                Assam  30.0   167.0    90.0  54000.0        No
3                Bihar  38.0   180.0    74.0  61000.0        No
4         Chhattisgarh  40.0   168.0    75.0  61000.0       Yes
5                  Goa  35.0   169.0    87.0  58000.0       Yes
6              Gujarat   NaN   161.0    89.0  52000.0        No
7              Haryana  48.0   167.0    88.0  79000.0       Yes
8     Himachal Pradesh  50.0   155.0    94.0  83000.0        No
9            Jharkhand  37.0   159.0    80.0  67000.0       Yes
10           Karnataka  38.0   158.0    65.0  72000.0        No
11              Kerala  42.0   155.0    67.0  48000.0       Yes
12      Madhya Pradesh  45.0   154.0    68.0  54000.0        No
13         Maharashtra  51.0   158.0    70.0  61000.0        No
14             Manipur  44.0   161.0    71.0  61000.0       Yes
15           Meghalaya  27.0   160.0    72.0  58000.0       Yes
16             Mizoram  30.0     NaN    73.0  52000.0        No
17            Nagaland  38.0     NaN    74.0  79000.0       Yes
18              Odisha  40.0     NaN    75.0  83000.0        No
19              Punjab  35.0   160.0    76.0  67000.0       Yes
20           Rajasthan   NaN   165.0    77.0  72000.0        No
21              Sikkim  48.0   167.0    78.0  48000.0       Yes
22          Tamil Nadu  50.0   180.0    79.0  54000.0        No
23           Telangana  37.0   168.0    80.0  61000.0        No
24             Tripura  38.0   169.0    85.0  61000.0       Yes
25       Uttar Pradesh  42.0   161.0     NaN  58000.0       Yes
26         Uttarakhand  45.0   167.0    65.0  52000.0        No
27         West Bengal  51.0   155.0    70.0  79000.0       Yes
28      Andhra Pradesh  44.0   159.0    90.0  83000.0        No
29   Arunachal Pradesh  27.0   158.0    74.0  67000.0       Yes
30               Assam  30.0   155.0    75.0  72000.0        No
31               Bihar  38.0   154.0    87.0  48000.0       Yes
32        Chhattisgarh  40.0   158.0    89.0  54000.0        No
33                 Goa  35.0   161.0    88.0  61000.0        No
34             Gujarat   NaN   160.0    94.0  61000.0       Yes
35             Haryana  48.0     NaN    80.0  58000.0       Yes
36    Himachal Pradesh  50.0   160.0    65.0  52000.0        No
37           Jharkhand  37.0   165.0    67.0  79000.0       Yes
38           Karnataka  38.0   167.0    68.0  83000.0        No
39              Kerala  42.0   180.0    70.0  67000.0       Yes
40      Madhya Pradesh  45.0   168.0    71.0  72000.0        No
41         Maharashtra  51.0   169.0    72.0  48000.0       Yes
42             Manipur  44.0   161.0    73.0  54000.0        No
43           Meghalaya  27.0   167.0    74.0  61000.0        No
44             Mizoram  30.0   155.0    75.0  61000.0       Yes
45            Nagaland  38.0   159.0    76.0  58000.0       Yes
46              Odisha  40.0   158.0    77.0  52000.0        No
47              Punjab  35.0   155.0    78.0  79000.0       Yes
48           Rajasthan   NaN   154.0    79.0  83000.0        No
49              Sikkim  48.0   158.0    80.0  67000.0       Yes
50          Tamil Nadu  50.0   161.0    85.0  72000.0        No
51           Telangana  37.0   160.0     NaN  48000.0       Yes
52             Tripura  38.0     NaN     NaN  54000.0        No
53       Uttar Pradesh  42.0   160.0    65.0  61000.0        No
54         Uttarakhand  45.0   165.0    70.0  61000.0       Yes
55         West Bengal  51.0   167.0    90.0  58000.0       Yes
56      Andhra Pradesh  44.0   180.0    74.0  52000.0        No
57   Arunachal Pradesh  27.0   168.0    75.0  79000.0       Yes
58               Assam  30.0   169.0    87.0  83000.0        No
59               Bihar  38.0   161.0    89.0  67000.0       Yes
60        Chhattisgarh  40.0   167.0    88.0  72000.0        No
61                 Goa  35.0   155.0    94.0  48000.0       Yes
62             Gujarat   NaN   159.0    80.0  54000.0        No
63             Haryana  48.0   158.0    65.0  61000.0        No
64    Himachal Pradesh  50.0   155.0    67.0  61000.0       Yes
65           Jharkhand  37.0   154.0    68.0  58000.0       Yes
66           Karnataka  38.0   158.0    70.0  52000.0        No
67              Kerala  42.0   161.0    71.0  79000.0       Yes
68      Madhya Pradesh  45.0   160.0    72.0  83000.0        No
69         Maharashtra  51.0     NaN    73.0  67000.0       Yes
70             Manipur  44.0   160.0    74.0  72000.0        No
71           Meghalaya  27.0   165.0    75.0  48000.0       Yes
72             Mizoram  30.0   167.0    76.0  54000.0        No
73            Nagaland  38.0   180.0    77.0  61000.0        No
74              Odisha  40.0   168.0    78.0  61000.0       Yes
75              Punjab  35.0   169.0    79.0  58000.0       Yes
76           Rajasthan   NaN   161.0    80.0  52000.0        No
77              Sikkim  48.0   167.0    85.0  79000.0       Yes
78          Tamil Nadu  50.0   155.0     NaN  83000.0        No
79           Telangana  37.0   159.0    65.0  67000.0       Yes
80             Tripura  38.0   158.0    70.0  72000.0        No
81       Uttar Pradesh  42.0   155.0    90.0  48000.0       Yes
82         Uttarakhand  45.0   154.0    74.0  54000.0        No
83         West Bengal  51.0   158.0    75.0  61000.0        No
84      Andhra Pradesh  44.0   161.0    87.0  61000.0       Yes
85   Arunachal Pradesh  27.0   160.0    89.0  58000.0       Yes
86               Assam  30.0     NaN    88.0  52000.0        No
87               Bihar  38.0   160.0    94.0  79000.0       Yes
88        Chhattisgarh  40.0   165.0    80.0  83000.0        No
89                 Goa  35.0   167.0    65.0  67000.0       Yes
90             Gujarat   NaN   180.0    67.0  72000.0        No
91             Haryana  48.0   168.0    68.0  48000.0       Yes
92    Himachal Pradesh  50.0   169.0    70.0  54000.0        No
93           Jharkhand  37.0   161.0    71.0  61000.0        No
94           Karnataka  38.0   167.0    72.0  61000.0       Yes
95              Kerala  42.0   155.0    73.0  58000.0       Yes
96      Madhya Pradesh  45.0   159.0    74.0  52000.0        No
97         Maharashtra  51.0   158.0    75.0  79000.0       Yes
98             Manipur  44.0   155.0    76.0  83000.0        No
99           Meghalaya  27.0   154.0    77.0  67000.0       Yes
100            Mizoram  30.0   158.0    78.0  72000.0        No
101           Nagaland  38.0   161.0    79.0  48000.0       Yes
102             Odisha  40.0   160.0    80.0  54000.0        No
103             Punjab  35.0     NaN    85.0  61000.0        No
104          Rajasthan   NaN     NaN    65.0  61000.0       Yes
105             Sikkim  48.0   160.0    70.0  58000.0       Yes
106         Tamil Nadu  50.0   165.0    90.0  52000.0        No
107          Telangana  37.0   167.0    74.0  79000.0       Yes
108            Tripura  38.0   180.0    75.0  83000.0        No
109      Uttar Pradesh  42.0   168.0    87.0  67000.0       Yes
110        Uttarakhand  45.0   169.0    89.0  70000.0       Yes
111        West Bengal  51.0   161.0    88.0  52000.0        No

In [65]:
test = clean_dataset.drop(['State', 'Purchaged'], axis=1)
test.head()

    Age  Height  Weight   Salary
0  44.0   160.0    65.0  72000.0
1  27.0   165.0    70.0  48000.0
2  30.0   167.0    90.0  54000.0
3  38.0   180.0    74.0  61000.0
4  40.0   168.0    75.0      NaN

In [66]:
from sklearn.impute import SimpleImputer

In [67]:
SM = SimpleImputer(missing_values = np.nan, strategy = 'mean')
SM.fit(test)

SimpleImputer()

In [71]:
X = SM.transform(test)
df = pd.DataFrame(X, columns=['Age','Height','Weight','Salary'])
df.head(15)

          Age  Height  Weight        Salary
0   44.000000   160.0    65.0  72000.000000
1   27.000000   165.0    70.0  48000.000000
2   30.000000   167.0    90.0  54000.000000
3   38.000000   180.0    74.0  61000.000000
4   40.000000   168.0    75.0  63722.772277
5   35.000000   169.0    87.0  58000.000000
6   40.384615   161.0    89.0  52000.000000
7   48.000000   167.0    88.0  79000.000000
8   50.000000   155.0    94.0  83000.000000
9   37.000000   159.0    80.0  67000.000000
10  38.000000   158.0    65.0  72000.000000
11  42.000000   155.0    67.0  48000.000000
12  45.000000   154.0    68.0  54000.000000
13  51.000000   158.0    70.0  61000.000000
14  44.000000   161.0    71.0  63722.772277

## Lab 4

In [11]:
!pip install category_encoders

Requirement already satisfied: category_encoders in /usr/local/lib/python3.7/dist-packages (2.3.0)
Requirement already satisfied: statsmodels>=0.9.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (0.10.2)
Requirement already satisfied: pandas>=0.21.1 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (1.1.5)
Requirement already satisfied: patsy>=0.5.1 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (0.5.2)
Requirement already satisfied: numpy>=1.14.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (1.19.5)
Requirement already satisfied: scikit-learn>=0.20.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (1.0.2)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (1.4.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.21.1->category_encoders) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.21.1->category_encoders) (2.8.2)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from patsy>=0.5.1->category_encoders) (1.15.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.20.0->category_encoders) (1.1.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.20.0->category_encoders) (3.0.0)

In [73]:
headers = ["symboling", "normalized_losses", "make", "fuel_type", "aspiration",
"num_doors", "body_style", "drive_wheels", "engine_location",
"wheel_base", "length", "width", "height", "curb_weight",
"engine_type", "num_cylinders", "engine_size", "fuel_system",
"bore", "stroke", "compression_ratio", "horsepower", "peak_rpm",
"city_mpg", "highway_mpg", "price"]

In [74]:
df = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/autos/imports-85.data",header=None, names=headers, na_values="?" )

In [75]:
df.head()

   symboling  normalized_losses         make  ... city_mpg highway_mpg    price
0          3                NaN  alfa-romero  ...       21          27  13495.0
1          3                NaN  alfa-romero  ...       21          27  16500.0
2          1                NaN  alfa-romero  ...       19          26  16500.0
3          2              164.0         audi  ...       24          30  13950.0
4          2              164.0         audi  ...       18          22  17450.0

[5 rows x 26 columns]

In [76]:
df.dtypes

symboling              int64
normalized_losses    float64
make                  object
fuel_type             object
aspiration            object
num_doors             object
body_style            object
drive_wheels          object
engine_location       object
wheel_base           float64
length               float64
width                float64
height               float64
curb_weight            int64
engine_type           object
num_cylinders         object
engine_size            int64
fuel_system           object
bore                 float64
stroke               float64
compression_ratio    float64
horsepower           float64
peak_rpm             float64
city_mpg               int64
highway_mpg            int64
price                float64
dtype: object

In [77]:
df.shape

(205, 26)

In [78]:
obj_df = df.select_dtypes(include=['object']).copy()
obj_df.head()

          make fuel_type aspiration  ... engine_type num_cylinders fuel_system
0  alfa-romero       gas        std  ...        dohc          four        mpfi
1  alfa-romero       gas        std  ...        dohc          four        mpfi
2  alfa-romero       gas        std  ...        ohcv           six        mpfi
3         audi       gas        std  ...         ohc          four        mpfi
4         audi       gas        std  ...         ohc          five        mpfi

[5 rows x 10 columns]

In [79]:
obj_df[obj_df.isnull().any(axis=1)]

     make fuel_type aspiration  ... engine_type num_cylinders fuel_system
27  dodge       gas      turbo  ...         ohc          four        mpfi
63  mazda    diesel        std  ...         ohc          four         idi

[2 rows x 10 columns]

In [80]:
obj_df["num_doors"].value_counts()

four    114
two      89
Name: num_doors, dtype: int64

In [81]:
obj_df = obj_df.fillna({"num_doors": "four"})

In [82]:
obj_df["num_cylinders"].value_counts()

four      159
six        24
five       11
eight       5
two         4
three       1
twelve      1
Name: num_cylinders, dtype: int64

In [83]:
cleanup_nums = {"num_doors": {"four": 4, "two": 2},
"num_cylinders": {"four": 4, "six": 6, "five": 5, "eight": 8,
"two": 2, "twelve": 12, "three":3 }}

obj_df = obj_df.replace(cleanup_nums)

In [84]:
obj_df["num_cylinders"].value_counts()

4     159
6      24
5      11
8       5
2       4
12      1
3       1
Name: num_cylinders, dtype: int64

In [85]:
obj_df.dtypes

make               object
fuel_type          object
aspiration         object
num_doors           int64
body_style         object
drive_wheels       object
engine_location    object
engine_type        object
num_cylinders       int64
fuel_system        object
dtype: object

#### Label Encoding

In [87]:
obj_df.body_style.value_counts()

sedan          96
hatchback      70
wagon          25
hardtop         8
convertible     6
Name: body_style, dtype: int64

In [88]:
obj_df["body_style"] = obj_df["body_style"].astype('category')

In [89]:
obj_df.dtypes

make                 object
fuel_type            object
aspiration           object
num_doors             int64
body_style         category
drive_wheels         object
engine_location      object
engine_type          object
num_cylinders         int64
fuel_system          object
dtype: object

In [90]:
obj_df["body_style_cat"] = obj_df["body_style"].cat.codes

In [91]:
obj_df.head()

          make fuel_type aspiration  ...  num_cylinders fuel_system body_style_cat
0  alfa-romero       gas        std  ...              4        mpfi              0
1  alfa-romero       gas        std  ...              4        mpfi              0
2  alfa-romero       gas        std  ...              6        mpfi              2
3         audi       gas        std  ...              4        mpfi              3
4         audi       gas        std  ...              5        mpfi              3

[5 rows x 11 columns]

In [93]:
#OHE
pd.get_dummies(obj_df, columns=["drive_wheels"]).head()

          make fuel_type  ... drive_wheels_fwd  drive_wheels_rwd
0  alfa-romero       gas  ...                0                 1
1  alfa-romero       gas  ...                0                 1
2  alfa-romero       gas  ...                0                 1
3         audi       gas  ...                1                 0
4         audi       gas  ...                0                 0

[5 rows x 13 columns]

In [97]:
ohe =ce.OneHotEncoder(cols='drive_wheels',handle_unknown='return_nan',return_df=True,use_cat_names=True)

ohe.fit_transform(obj_df).head()

          make fuel_type aspiration  ...  num_cylinders fuel_system  body_style_cat
0  alfa-romero       gas        std  ...              4        mpfi               0
1  alfa-romero       gas        std  ...              4        mpfi               0
2  alfa-romero       gas        std  ...              6        mpfi               2
3         audi       gas        std  ...              4        mpfi               3
4         audi       gas        std  ...              5        mpfi               3

[5 rows x 13 columns]

In [98]:
obj_df["engine_type"].value_counts()

ohc      148
ohcf      15
ohcv      13
dohc      12
l         12
rotor      4
dohcv      1
Name: engine_type, dtype: int64

In [99]:
obj_df["OHC_Code"] = np.where(obj_df["engine_type"].str.contains("ohc"), 1, 0)

In [100]:
obj_df[["make", "engine_type", "OHC_Code"]].head()

          make engine_type  OHC_Code
0  alfa-romero        dohc         1
1  alfa-romero        dohc         1
2  alfa-romero        ohcv         1
3         audi         ohc         1
4         audi         ohc         1

In [102]:
le = LabelEncoder()
obj_df[["body_style"]] = le.fit_transform(obj_df[["body_style"]])
obj_df[["body_style"]].head()

/usr/local/lib/python3.7/dist-packages/sklearn/preprocessing/_label.py:115: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

   body_style
0           0
1           0
2           2
3           3
4           3

In [104]:
ord_enc = OrdinalEncoder()

obj_df["make_code"] = ord_enc.fit_transform(obj_df[["make"]])
obj_df[["make", "make_code"]].head()

          make  make_code
0  alfa-romero        0.0
1  alfa-romero        0.0
2  alfa-romero        0.0
3         audi        1.0
4         audi        1.0

In [106]:
oe_style = OneHotEncoder()
oe_results = oe_style.fit_transform(obj_df[["body_style"]])
pd.DataFrame(oe_results.toarray(), columns=oe_style.categories_).head()

     0    1    2    3    4
0  1.0  0.0  0.0  0.0  0.0
1  1.0  0.0  0.0  0.0  0.0
2  0.0  0.0  1.0  0.0  0.0
3  0.0  0.0  0.0  1.0  0.0
4  0.0  0.0  0.0  1.0  0.0

In [107]:
obj_df = df.select_dtypes(include=['object']).copy()

# Specify the columns to encode then fit and transform
encoder = ce.BackwardDifferenceEncoder(cols=["engine_type"])
encoder.fit_transform(obj_df, verbose=1).iloc[:,8:14].head()

   engine_type_0  engine_type_1  ...  engine_type_4  engine_type_5
0      -0.857143      -0.714286  ...      -0.285714      -0.142857
1      -0.857143      -0.714286  ...      -0.285714      -0.142857
2       0.142857      -0.714286  ...      -0.285714      -0.142857
3       0.142857       0.285714  ...      -0.285714      -0.142857
4       0.142857       0.285714  ...      -0.285714      -0.142857

[5 rows x 6 columns]

In [108]:
encoder = ce.PolynomialEncoder(cols=["engine_type"])
encoder.fit_transform(obj_df, verbose=1).iloc[:,8:14].head()

   engine_type_0  engine_type_1  ...  engine_type_4  engine_type_5
0      -0.566947   5.455447e-01  ...      -0.109109       0.032898
1      -0.566947   5.455447e-01  ...      -0.109109       0.032898
2      -0.377964   9.521795e-17  ...       0.436436      -0.197386
3      -0.188982  -3.273268e-01  ...      -0.545545       0.493464
4      -0.188982  -3.273268e-01  ...      -0.545545       0.493464

[5 rows x 6 columns]

In [109]:
encoder = ce.BinaryEncoder(cols=["engine_type"])
encoder.fit_transform(obj_df).head()

          make fuel_type aspiration  ... engine_type_2 num_cylinders fuel_system
0  alfa-romero       gas        std  ...             1          four        mpfi
1  alfa-romero       gas        std  ...             1          four        mpfi
2  alfa-romero       gas        std  ...             0           six        mpfi
3         audi       gas        std  ...             1          four        mpfi
4         audi       gas        std  ...             1          five        mpfi

[5 rows x 12 columns]

## Various Types of Data Encoding Session

In [9]:
import category_encoders as ce
import pandas as pd

df = pd.DataFrame({'Designation': ['Prof', 'Assistant Professor', 'Associate professor', 'Lab assistant']})
df.head()

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

           Designation
0                 Prof
1  Assistant Professor
2  Associate professor
3        Lab assistant

In [14]:
encoder = ce.OrdinalEncoder(cols=['Designation'], return_df=True, mapping=[{'col': 'Designation', 'mapping': {'Prof': 0, 'Assistant Professor': 1, 'Associate professor': 3, 'Lab assistant': 4}}])

In [15]:
encoder

OrdinalEncoder(cols=['Designation'],
               mapping=[{'col': 'Designation',
                         'mapping': {'Assistant Professor': 1,
                                     'Associate professor': 3,
                                     'Lab assistant': 4, 'Prof': 0}}])

In [16]:
df.dtypes

Designation    object
dtype: object

In [17]:
df_transformed = encoder.fit_transform(df)
df_transformed

   Designation
0            0
1            1
2            3
3            4

In [24]:
data=pd.DataFrame({'District':['Kottayam','Ernakulum','Idiki','Palakkad','Thiruvanathapuram','Karoor','Kollam', 'Test', 'Kasargod']})

encoder1=ce.OneHotEncoder(cols='District',handle_unknown='return_nan',return_df=True,use_cat_names=False)
data

            District
0           Kottayam
1          Ernakulum
2              Idiki
3           Palakkad
4  Thiruvanathapuram
5             Karoor
6             Kollam
7               Test
8           Kasargod

In [20]:
data_encoded = encoder1.fit_transform(data)
data_encoded

   District_1  District_2  District_3  ...  District_5  District_6  District_7
0         1.0         0.0         0.0  ...         0.0         0.0         0.0
1         0.0         1.0         0.0  ...         0.0         0.0         0.0
2         0.0         0.0         1.0  ...         0.0         0.0         0.0
3         0.0         0.0         0.0  ...         0.0         0.0         0.0
4         0.0         0.0         0.0  ...         1.0         0.0         0.0
5         0.0         0.0         0.0  ...         0.0         1.0         0.0
6         0.0         0.0         0.0  ...         0.0         0.0         1.0

[7 rows x 7 columns]

In [21]:
data_encoded1=pd.get_dummies(data=data,drop_first=True)
data_encoded1

   District_Idiki  ...  District_Thiruvanathapuram
0               0  ...                           0
1               0  ...                           0
2               1  ...                           0
3               0  ...                           0
4               0  ...                           1
5               0  ...                           0
6               0  ...                           0

[7 rows x 6 columns]

In [25]:
encoder2= ce.BinaryEncoder(cols=['District'],return_df=True)
data_encoded2=encoder2.fit_transform(data) 
data_encoded2

   District_0  District_1  District_2  District_3
0           0           0           0           1
1           0           0           1           0
2           0           0           1           1
3           0           1           0           0
4           0           1           0           1
5           0           1           1           0
6           0           1           1           1
7           1           0           0           0
8           1           0           0           1

In [26]:
encoder3= ce.BaseNEncoder(cols=['District'],return_df=True,base=3)
data_encoded3=encoder3.fit_transform(data)
data_encoded3

   District_0  District_1  District_2
0           0           0           1
1           0           0           2
2           0           1           0
3           0           1           1
4           0           1           2
5           0           2           0
6           0           2           1
7           0           2           2
8           1           0           0

In [27]:
data=pd.DataFrame({'grade':['A,','B','C','B','C','A','A','A'],'Marks':[80,70,65,78,60,87,85,88]})

In [28]:
encoder=ce.TargetEncoder(cols='grade')

In [29]:
data

  grade  Marks
0    A,     80
1     B     70
2     C     65
3     B     78
4     C     60
5     A     87
6     A     85
7     A     88

In [30]:
enode4=encoder.fit_transform(data['grade'],data['Marks'])
enode4

       grade
0  76.625000
1  74.705971
2  66.298798
3  74.705971
4  66.298798
5  85.469671
6  85.469671
7  85.469671